.container {
    color: var(--text);
    margin-bottom: 100px;
}
.container h1 {
    font-size: 66px;
    font-weight: 700;
    line-height: 79.992px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 10px;
}
.container h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 55.02px;
}
.container h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.992px;
    letter-spacing: 0.9px;
}
.container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32.004px;
}


/* 1st article */
.container > article:nth-of-type(1) {
    margin-top: 70px;
}
.container > article:nth-of-type(1) > p {
    text-align: center;
    width: 568px;
    margin: 0px auto 20px;
}
.subcontainers {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.subcontainers img {
    width: 68px;
    height: 68px;
}


/* 2nd article */
.container > article:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    max-width: 100%;
    width: 90%;
    margin: 30px auto;
}
.pricingCards {
    width: 381px;
    height: 612px;
}
.tags {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.004px; 
    letter-spacing: 0.7px;
    text-transform: uppercase;
    background-color: var( --mainBtn);
    padding: 9px 13.931px 9px 14.131px;
    border-radius: 1000px;
}
.dotContainer {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}
.dotContainer:nth-of-type(1) {
    margin-top: 20px;
}
.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--mainBtn);
}
.dotContainer p {
    line-height: 19.998px !important;
}
.container a {
    margin: 0px auto !important;
    width: 100%;
}



@media (min-width: 768px) and (max-width: 991px) {
    .container h1 {
        font-size: 66px;
        line-height: 79.992px;
    }
    .container h2 {
        font-size: 42px;
        line-height: 55.02px;
    }
    .container h4 {
        font-size: 18px;
        line-height: 25.992px;
    }
    .subcontainers {
        column-gap: 10px;
    }
    .subcontainers img {
        width: 48px;
        height: 48px;
    }
    .container > article:nth-of-type(2) {
        column-gap: 15px;
    }
}
@media (max-width: 767px) {
    .container h1 {
        font-size: 38px;
        line-height: 46px;
    }
    .container p {
        font-size: 16px;
        line-height: 26px;
    }
    .container h4 {
        margin: 20px auto 0px;
    }
    /* 1st article */
    .container > article:nth-of-type(1) {
        margin-top: 50px;
    }
    .container > article:nth-of-type(1) > div {
        align-items: flex-start;
        row-gap: 20px;
    }
    .container > article:nth-of-type(1) > p {
        max-width: 100%;
        width: 90%;
        margin: 0px auto 20px;
    }
    /* 2nd article */
    .container > article:nth-of-type(2) {
        flex-direction: column;
        row-gap: 30px;
        margin: 30px auto;
    }
    .pricingCards {
        max-width: 100%;
        width: 90%;
        height: fit-content;
    }
    
}