.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    position: relative;
}

@media (min-width: 2200px) {
    .container {
        width: 60%;
    }
}
@media (max-width: 1199px) {
    .container{
        column-gap: 30px;
    }
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}