.container {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
.container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32.004px;
    text-align: justify;
    opacity: 0.6;
    padding-top: 10px;
}
.container hr {
    border: 1px solid rgba(255, 255, 255, 0.20);
    margin: 20px auto;
}


@media (max-width: 767px) {
    .container {
        width: 90%;
    }
    .container p {
        text-align: left;
    }
}

