.component {
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
    line-height: 25.992px;
    letter-spacing: 0.9px;
}
.subComponents {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.subComponents label {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.subComponents > div {
    display: flex;
    flex-direction: column;
}
.subComponents > div input {
    width: 364px;
    padding: 20.5px 24.995px;
    border-radius: 100px;
    border: 1px solid var(--bgColor);
    background: var(--cardColor);
    margin-bottom: 15px;
}
.subComponents > div input::placeholder {
    font-weight: 400 !important;
    line-height: 27px !important;
}
.subComponents:nth-of-type(3) > div input {
    width: 753px;
    padding-top: 20.5px;
    padding-bottom: 150px;
    border-radius: 14px;
}
.component button {
    background: var(--containerColor);
    border-radius: 80px;
    padding: 20px 25px;
    color: var(--text);
    margin-top: 20px;
}
.component button:hover {
    transform: scale(0.9);
}


@media (min-width: 992px) and (max-width: 1199px) {
    .subComponents {
        column-gap: 20px;
    }
    .subComponents > div input {
        width: 280px;
    }
    .subComponents:nth-of-type(3) > div input {
        width: 570px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .subComponents {
        column-gap: 10px;
    }
    .subComponents label {
        font-size: 17px;
        line-height: 25.998px;
    }
    .subComponents > div input {
        width: 25vw;
    }
    .subComponents:nth-of-type(3) > div input {
        width: calc(50vw + 10px);
    }
}
@media (max-width: 767px) {
    .subComponents {
        flex-direction: column;
    }
    .subComponents > div input {
        width: 80vw;
    }
    .subComponents:nth-of-type(3) > div input {
        width: 80vw;
        border-radius: 14px;
    }
    .subComponents label {
        font-size: 18px;
        line-height: 25.992px; 
        letter-spacing: 0.9px;
    }
    .component button {
        width: 100%;
        margin: auto;
    }
}
