.main section {
    margin-bottom: 100px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: 100px;
    position: relative;
}
.container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}
.container h1 {
    font-weight: 700;
    font-size: 66px;
    line-height: 80px;
    line-height: -1px;
    color: var(--text);
    width: 700px;
    margin-bottom: 15px;
}
.text, .floatText {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 500px;
    color: var(--text);
}
.btnContainer {
    margin-top: 25px;
    display: flex;
}
.btnContainer a:nth-of-type(1) {
    margin-right: 20px;
}
.lContainer {
    position: relative;
}
.laptop {
    width: 530px;
    float: right;
}


.main section:nth-of-type(2) article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subText {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 500px;
    color: var(--text);
}
.con img {
    max-width: 100%;
    width: 90%;
    margin: auto;
}


.main section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: var(--text);
    margin-bottom: 20px;
}
.main section:nth-of-type(3) section {
    margin-bottom: 30px;
}
.main section:nth-of-type(3) article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 30px;
    max-width: 100%;
    width: 90%;
    color: var(--text);
}
.main section:nth-of-type(3) article h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}
.main section:nth-of-type(3) article p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.iphone {
    position: relative;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);
}


.header2 {
    width: 475px;
}
.shiftContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.shift {
    display: flex;
    align-items: center;
    column-gap: 20px;
}


.floatText {
    position: absolute;
    bottom: 15%;
    right: 5%;
    transform: translate(-5%, -15%);
}


.blueBg {
    background-color: var(--mainBtn);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blueBg h2 {
    width: 589px;
}
.blueBg a {
    margin-top: 20px;
}




