.main section {
    margin-bottom: 100px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: 100px;
    position: relative;
}
.container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}
.container h1 {
    font-weight: 700;
    font-size: 66px;
    line-height: 80px;
    color: var(--text);
    width: 700px;
    margin-bottom: 15px;
}
.text, .floatText {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 500px;
    color: var(--text);
}
.btnContainer {
    margin-top: 25px;
    display: flex;
}
.btnContainer a:nth-of-type(1) {
    margin-right: 20px;
}
.lContainer {
    position: relative;
}
.laptop {
    width: 530px;
    float: right;
}


/* 2nd section */
.main section:nth-of-type(2) article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subText {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 500px;
    color: var(--text);
}
.con img {
    max-width: 100%;
    width: 90%;
    margin: auto;
}


/* 3rd section */
.main section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h2, .download h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: var(--text);
    margin-bottom: 20px;
}
.main section:nth-of-type(3) article article {
    margin-bottom: 30px;
}
.main section:nth-of-type(3) > article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 30px;
    max-width: 100%;
    width: 90%;
    color: var(--text);
}
.sndr {
    width: 325px;
    height: 295px;
}
.iosCard {
    width: 477px;
    height: 622px;
}
.main section:nth-of-type(3) article h6, .bannerCont h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}
.main section:nth-of-type(3) article p, .bannerCont p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.iphone {
    position: relative;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
}


/* Another section */
.header2 {
    width: 475px;
}
.shiftContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.shift {
    display: flex;
    align-items: center;
    column-gap: 20px;
}


.floatText {
    position: absolute;
    bottom: 15%;
    right: 5%;
    transform: translate(-5%, -15%);
}


/* Blue background */
.blueBg {
    background-color: var(--mainBtn);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blueBg h2 {
    width: 589px;
}
.blueBg a {
    margin-top: 20px;
}


/* Banners */
.banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
    max-width: 100%;
    width: 90%;
    margin: 20px auto 0px;
    padding-top: 250px;
}
.banner > div {
    position: relative;
    color: var(--text);
}
.banner .products {
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: var(--mainBtn);
    color: var(--text);
    z-index: 2;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.004px;
    letter-spacing: 0.7px;
    padding: 9px 14.158px 9px 14.358px;
    border-radius: 1000px;
}
.basics {
    width: 378px;
    height: 392px;
}
.banner article {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.banner > div > img {
    position: absolute;
    width: 378px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    bottom: 392px;
    clear: both;
}
.banner h5 {
    font-size: 22px;
    line-height: 31px;
    font-weight: 700;
    width: 300px;
}
.banner p {
    width: 300px;
}
.banner hr {
    width: 100%;
    text-align: left;
    margin-left: 0;
    border: 1px solid rgba(255, 255, 255, 0.10);
}
.bannerCont {
    display: flex;
    align-items: center;
}
.bannerCont img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.bannerCont > div div {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.main section:nth-of-type(7) a  {
   text-align: center;
   margin: 20px auto 0;
   width: 210px;
}


/* Download  */
.download {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 30px;
    max-width: 100%;
    width: 90%;
    margin: 40px auto 0px;
    color: var(--text);
}
.downloadCards {
    width: 563px;
    height: 775px;
}
.download p {
    font-size: 18px;
    line-height: 32.004px;
    width: 443px;
}
.download a {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.6px;
}
.download a span {
    margin-right: 5px;
}
.download article > img {
    position: relative;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -13%);
}


@media (min-width: 992px) and (max-width: 1199px) {
    .container h1 {
        font-size: 46px;
        line-height: 60px;
        width: 450px;
    }
    .text, .floatText {
        width: 450px;
    }
    .laptop {
        width: 450px;
        float: right;
    }


    /* 3rd section */
    .main h2, .download h2 {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 10px;
    }
    .main section:nth-of-type(3) > article {
        column-gap: 20px;
    }
    .sndr {
        width: 270px;
        height: 270px;
    }
    .iosCard {
        width: 377px;
        height: 576px;
    }
    .main section:nth-of-type(3) article h6, .bannerCont h6 {
        font-size: 16px;
        line-height: 26px;
    }
    .main section:nth-of-type(3) article p, .bannerCont p {
        font-size: 14px;
        line-height: 24px;
    }
    .iphone {
        width: 250px;
        height: 400px;
        bottom: -36px;
    }


    /* Another section */
    .grp {
        width: 50%;
    }
    .header2 {
        width: 400px;
    }


    /* Blue background */
    .blueBg h2 {
        width: 450px;
        font-size: 37px;
    }
    .blueBg .text {
        width: 400px;
    }
    .blueBg a {
        margin-top: 20px;
    }


    /* Banners */
    .basics {
        width: 300px;
        height: 392px;
    }
    .banner article {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .banner p {
        width: 250px;
    }
    .banner > div > img {
        width: 300px;
    }
    .bannerCont img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .bannerCont > div div {
        font-size: 14px;
        line-height: 16px;
    }
    

    /* Download  */
    .downloadCards {
        width: 450px;
        height: 670px;
    }
    .download p {
        font-size: 16px;
        line-height: 24px;
        width: 400px;
    }
    .download article > img {
        position: relative;
        width: 380px;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -15%);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container h1 {
        font-size: 30px;
        line-height: 46px;
        width: 350px;
    }
    .text, .floatText {
        font-size: 14px;
        line-height: 24px;
        width: 350px;
    }
    .laptop {
        width: 450px;
        float: right;
    }


    /* 3rd section */
    .main h2, .download h2 {
        font-size: 25px;
        line-height: 35px;
    }
    .main section:nth-of-type(3) > article {
        column-gap: 10px;
    }
    .sndr {
        width: 220px;
        height: 220px;
    }
    .sndr > img {
        width: 50px;
    }
    .iosCard {
        width: 377px;
        height: 470px;
    }
    .main section:nth-of-type(3) article h6, .bannerCont h6 {
        font-size: 14px;
        line-height: 24px;
    }
    .main section:nth-of-type(3) article p, .bannerCont p {
        font-size: 12px;
        line-height: 22px;
    }
    .iphone {
        width: 170px;
        height: 400px;
        bottom: -20px;
    }


    /* Another section */
    .grp {
        width: 50%;
    }
    .header2 {
        width: 300px;
    }


    /* Blue background */
    .blueBg h2 {
        width: 300px;
        font-size: 25px;
        line-height: 35px;
    }
    .blueBg .text {
        width: 300px;
    }
    .blueBg a {
        margin-top: 20px;
    }


    /* Banners */
    .banner {
        margin-top: -50px;
    }
    .basics {
        width: 235px;
        height: 392px;
    }
    .banner p {
        width: 200px;
    }
    .banner .products {
        font-size: 12px;
        line-height: 16.004px;
    }
    .basics, .banner > div > img {
        width: 235px;
    }
    .bannerCont img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .bannerCont > div div {
        font-size: 14px;
        line-height: 16px;
    }
    

    /* Download  */
    .downloadCards {
        width: 350px;
        height: 670px;
    }
    .download p {
        font-size: 14px;
        line-height: 24px;
        width: 300px;
    }
    .download a {
        font-size: 12px;
    }
    .download a img {
        width: 20px;
    }
    .download article > img {
        position: relative;
        width: 280px;
        top: 16%;
        left: 50%;
        transform: translate(-50%, -16%);
    }
}
@media (max-width: 767px) {
    
}