.table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 90%;
    margin: auto;
    color: var(--text);
}
.table th, .table td {
    text-align: left;
}
.table td {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.table th {
    padding-top: 12px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 258px;
    margin: auto;
}
.table a {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: underline;
    color: var(--text) !important;
}



@media (max-width: 991px) {
    .tableWrapper {
        overflow-x: auto; 
        position: relative;
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }
    .table {
        max-width: 1000px;
        width: 1000px;
    }
    
}