@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: #010725;
  --text: #FFFFFF;
  --mainBtn: #0328EE;
  --cardColor: #010D50;
  --containerColor: #0328EE;
  --font: 'DM Sans', sans-serif;
}
body, html {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bgColor);
  font: var(--font);
  font-size: 14px;
  line-height: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  cursor: pointer;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

/* ::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background: var(--cardColor);
  border-radius:  10px;
  background-clip: padding-box;
  border: 5px solid transparent;
} */