.slider {
    margin: auto;
    display: grid;
    position: relative;
    width: 90%;
    place-items: center;
    margin-top: 70px;
    margin-bottom: 0 !important;
}
.slideTrack {
    display: flex;
    height: 50%;
    width: calc(586px * 8);
    animation: scroll 40s linear infinite;
}
.slideTrack:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-586px * 4));
    }
}

.slide {
    width: 586px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 30px;
    perspective: 100px;
}
.slide section {
    width: 100%;
    transition: transform 1s;
}
.slide section:hover {
    transform: translateZ(5px);
}

.slide section > div div {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--text);
    width: 468px;
}
.slide section > div div:nth-of-type(2) {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    width: 100% !important;
    margin-top: 20px;
}
.slide img {
    width: 58px;
    height: 58px;
    border-radius: 1000px;
    margin-right: 20px;
}